obj/Debug/netcoreapp8.0/apphost
obj/Debug/netcoreapp8.0/DDDNetCore.AssemblyInfo.cs
obj/Debug/netcoreapp8.0/DDDNetCore.AssemblyInfoInputs.cache
obj/Debug/netcoreapp8.0/DDDNetCore.assets.cache
obj/Debug/netcoreapp8.0/DDDNetCore.csproj.AssemblyReference.cache
obj/Debug/netcoreapp8.0/DDDNetCore.GeneratedMSBuildEditorConfig.editorconfig
api_node/node_modules
